# **Multiplication using lamda function**

In [ ]:
multiply = lambda x1,x2: x1*x2

result = multiply(5,6)
print(result)

30

In [ ]:
## function
def multiply(x1,x2):
  result= x1*x2
  return result

c= multiply(5,6)
print(c)

30

# **Square root using lamda function(not possible)**

In [ ]:
import math
print(math.sqrt(3))

1.7320508075688772

# **Double number using lamda function**

In [ ]:
double_number = lambda x : x*2
print(double_number(4))

8

# **Power function  using lamda function**

In [ ]:
power_function = lambda y,z : y**z
print(power_function(4,3))

64

# **Object Oriented Programming**

Class − A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

In [ ]:
class MyClass:
  x=5
  y=6
  z= (x+y)
  

obj1 = MyClass()

print(obj1.z)

11

In [ ]:
obj1.y

6

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.
Built in function:
1) __init__()

# **All classes have a function called __init__(), which is always executed when the class is being initiated.**

# **Constructor**
**Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:**

In [ ]:
class Student:

  def __init__(self,name,roll,age):
    self.name= name
    self.roll = roll
    self.age = age

student1 = Student("Toa",101,-16)

In [ ]:
student1.age,student1.name

(-16, 'Toa')

# **Object Methods**
Objects can also contain methods. Methods in objects are functions that belong to the object.

In [ ]:
class Student:

  def __init__(self,name,roll,age):
    self.name= name
    self.roll = roll
    self.age = age
  
  def printMyName(self):
    print("your name is "+ self.name)

student1 = Student("Toa",101,-16)
student1.printMyName()

your name is Toa

In [ ]:
class Student:

  def __init__(self,first,second,third,fourth):
    self.first= first
    self.second = second
    self.third = third
    self.fourth = fourth
  
  def printMyCGPA(self):
    x = (self.first+self.second+self.third+self.fourth)/4
    print(x)

student1 = Student(3.90,3.86,3.94,3.24)
student1.printMyCGPA()

3.735

# **Arrays**
An array is a special variable that can hold more than one value at a time.

In [ ]:
myArray = [1,2,3,4,76,2,4,6,78,3,7,3,46567,2,6,3,3,7,3]
print(myArray)
myArray

[1, 2, 3, 4, 76, 2, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3]

[1, 2, 3, 4, 76, 2, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3]

In [ ]:
myArray[2]

3

In [ ]:
len(myArray)

19

In [ ]:
for i in myArray:
  print(i*10)

10
20
30
40
760
20
40
60
780
30
70
30
465670
20
60
30
30
70
30

In [ ]:
myArray.append(2343)

In [ ]:
myArray

[1, 2, 3, 4, 76, 2, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3, 2343]

In [ ]:
myArray.insert(3,10000)

In [ ]:
myArray

[1, 2, 3, 10000, 4, 76, 2, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3, 2343]

In [ ]:
for i in range(len(myArray)):
  if(myArray[i]==76):
    myArray.pop(i)
    break

In [ ]:
myArray

[1, 2, 3, 10000, 4, 2, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3, 2343]

In [ ]:
myArray.pop(5)

2

In [ ]:
myArray

[1, 2, 3, 10000, 4, 4, 6, 78, 3, 7, 3, 46567, 2, 6, 3, 3, 7, 3, 2343]

In [ ]:
myArray.sort()

In [ ]:
myArray

[1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 6, 6, 7, 7, 78, 2343, 10000, 46567]

In [ ]:
myArray.reverse()
myArray

[46567, 10000, 2343, 78, 7, 7, 6, 6, 4, 4, 3, 3, 3, 3, 3, 3, 2, 2, 1]

In [ ]:
myArray.count(4)

2

# **Shift Left k Cells**
Consider an array named source. Write a method/function named shiftLeft( source, k) that shifts all the elements of the source array to the left by 'k' positions. You must execute the method by passing an array and number of cells to be shifted. After calling the method, print the array to show whether the elements have been shifted properly.
Example:
source=[10,20,30,40,50,60]
shiftLeft(source,3)
After calling shiftLeft(source,3), printing the array should give the output as: 
 [ 40, 50, 60, 0, 0, 0 ]

In [ ]:
source=[10,20,30,40,50,60,70,74,57,245,8645,34534,65757,879]

def shiftLeft(source,x):
  slice1=source[:x]
  slice2= source[x:]
  for i in range(len(slice1)):
    slice1[i]=0
  return print(slice2+slice1)
  
shiftLeft(source,7)

[74, 57, 245, 8645, 34534, 65757, 879, 0, 0, 0, 0, 0, 0, 0]

# **Rotate Left k cells**
 Consider an array named source. Write a method/function named rotateLeft( source, k) that rotates all the elements of the source array to the left by 'k' positions. You must execute the method by passing an array and number of cells to be shifted. After calling the method, print the array to show whether the elements have been shifted properly.
Example:
source=[10,20,30,40,50,60]
rotateLeft(source,3)
After calling rotateLeft(source,3), printing the array should give the output as: 
 [ 40, 50, 60, 10, 20, 30]

In [ ]:
source=[10,20,30,40,50,60]

def rotateLeft(source,x):
  slice1=source[:x]
  slice2= source[x:]
  print(slice2+slice1)
  
rotateLeft(source,3)

[40, 50, 60, 10, 20, 30]

# **Remove an element from an array**
 Consider an array named source. Write a method/function named remove( source, size, idx) that removes the element in index idx of the source array. You must execute the method by passing an array, its size and the idx( that is the index of the element to be removed). After calling the method, print the array to show whether the element of that particular index has been removed properly.
Example:
source=[10,20,30,40,50,0,0]
remove(source,5,2)
After calling remove(source,5,2) , printing the array should give the output as: 
 [ 10,20,40,50,0,0,0]

In [ ]:
def remove(list1, pos):
    newlist = []
  
    # traverse in the list
    for x in range(len(list1)):
          
        # if index not equal to pos
        if x != pos:
            newlist.append(list1[x])
    if (len(list1)!=len(newlist)):
      for x in range(len(list1)-len(newlist)):
        newlist.append(0)
    print(*newlist)
  
# driver code
list1 = [10,20,30,40,50,0,0]
pos = 2
remove(list1, pos)

10 20 40 50 0 0 0

# **Shift Left k Cells**

Consider an array named source. Write a method/function named shiftLeft( source, k) that shifts all the elements of the source array to the left by 'k' positions. You must execute the method by passing an array and number of cells to be shifted. After calling the method, print the array to show whether the elements have been shifted properly.
Example:
source=[10,20,30,40,50,60]
shiftLeft(source,3)
After calling shiftLeft(source,3), printing the array should give the output as: 
 [ 40, 50, 60, 0, 0, 0 ]

In [ ]:
source=[10,20,30,40,50,60]

def shiftLeft(source, k):
  slice1 = source[:k]
  slice2 = source[k:]
  # print(slice1)
  # print(slice2)
  for i in range(len(slice1)):
    slice1[i]=0
  return print(slice2+slice1)

shiftLeft(source,3)

[40, 50, 60, 0, 0, 0]

In [ ]:
##Shift right k cells
source=[10,20,30,40,50,60]

def shiftRight(source, k):
  slice1 = source[:k]
  slice2 = source[k:]
  # print(slice1)
  # print(slice2)
  for i in range(len(slice2)):
    slice2[i]=0
  return print(slice2+slice1)

shiftRight(source,3)

[0, 0, 0, 10, 20, 30]

# **Rotate Left k cells**
 Consider an array named source. Write a method/function named rotateLeft( source, k) that rotates all the elements of the source array to the left by 'k' positions. You must execute the method by passing an array and number of cells to be shifted. After calling the method, print the array to show whether the elements have been shifted properly.
Example:
source=[10,20,30,40,50,60]
rotateLeft(source,3)
After calling rotateLeft(source,3), printing the array should give the output as: 
 [ 40, 50, 60, 10, 20, 30]

In [ ]:
source=[10,20,30,40,50,60]

def shiftLeft(source, k):
  slice1 = source[:k]
  slice2 = source[k:]
  print(slice2+slice1)

shiftLeft(source,3)

[40, 50, 60, 10, 20, 30]

# **Remove an element from an array**
 Consider an array named source. Write a method/function named remove( source, size, idx) that removes the element in index idx of the source array. You must execute the method by passing an array, its size and the idx( that is the index of the element to be removed). After calling the method, print the array to show whether the element of that particular index has been removed properly.
Example:
source=[10,20,30,40,50,0,0]
remove(source,5,2)
After calling remove(source,5,2) , printing the array should give the output as: 
 [ 10,20,40,50,0,0,0]

In [ ]:
def remove(source,array_size,idx):
  newArray = []

  #traverse in array
  for x in range(len(source)):
    if x != idx:
      newArray.append(source[x])
  
  newArray.append(0)
  print(newArray)


source=[10,20,30,40,50,0,0]
remove(source,len(source),3)

[10, 20, 30, 50, 0, 0, 0]

# **Splitting an Array**




Suppose the elements of an array A containing positive integers, denote the weights in kilograms. And we have a beam balance. We want to put the weights on both pans of the balance in such a way that for some index 0 < i < A.length - 1, all values starting from A[0], A[1], upto A[ i - 1], should be on the left pan. And all values starting from A[ i ] upto A[ A.length - 1] should be on the right pan and the left and right pan should be balanced. If such an i exists, return true. Else, return false. 
Input: [1, 1, 1, 2, 1]	Output : true
Explanation: (summation of [1, 1, 1] = summation of [2,1])
Input: [2, 1, 1, 2, 1] Output: false
Input: [10, 3, 10, 2, 1]  Output: true 
Explanation: (summation of [10, 3] = summation of [10,2,1]))

In [ ]:
beamBalance=[1, 1, 1, 2, 1]

def balanceMaker(ar,k):
  leftSum = 0
  rightSum = 0

  for i in range(k):
    leftSum = leftSum + ar[i]
  for i in range(k,len(ar)):
    rightSum = rightSum + ar[i]

  # print(leftSum)
  # print(rightSum)

  if leftSum == rightSum:
    return print("true")
  else:
    return print("false")



balanceMaker(beamBalance,3)

true

# **FInd the maximum repeating number in an array**

In [ ]:
arr=[2,3,4,6,3,56,3,2,2,2,4,5,2,2,3,3,3,3,3,3,3]
arr.count(3)

10

In [ ]:
arr=[2,3,4,6,3,56,3,2,2,2,4,5,2,2,3,3,3,3,3,3,3]
#naive approch
#brute force 
def maxRepeating(arr):
  counter = 0
  number = arr[0]

  for i in arr:
    current_frequency = arr.count(i)
    if(current_frequency> counter):
      counter = current_frequency
      number = i
  return number

print(maxRepeating(arr))

3

# **Max Bunch Count**(HW)


A "bunch" in an array is a consecutive chain of two or more adjacent elements of the same value. Write a method that returns the number of elements in the largest bunch found in the given array.
Input: [1, 2, 2, 3, 4, 4, 4]   Output: 3
Explanation: There are two bunches here {2,2} and {4,4,4}. The largest bunch is {4,4,4} containing 3 elements so 3 is returned.
Input: [1,1,2, 2, 1, 1,1,1] Output:4
 Explanation: There are three bunches here {1,1} and {2,2} and {1,1,1,1}. The largest bunch is {1,1,1,1} containing 4 elements so 4 is returned.

In [ ]:
maximum = 0
counter =1 
i =1
n= array size
while(i<n):
  if arr[i-1] == arr[i]:
    counter = counter +1
    if(maximum<counter):
      maximum = counter
    else:
      counter = 1
return maximum

# **Repetition**(HW)
 Write a method that takes in an array as a parameter and counts the repetition of each element. That is, if an element has appeared in the array more than once, then its ‘repetition’ is its number of occurrences. The method returns true if there are at least two elements with the same number of ‘repetition’. Otherwise, return false.
Input: {4,5,6,6,4,3,6,4} Output: True
Explanation: Two numbers repeat in this array: 4 and 6. 4 has a repetition of 3, 6 has a repetition of 3. Since two numbers have the same repetition output is True.
Input: {3,4,6,3,4,7,4,6,8,6,6} Output: False
Explanation: Three numbers repeat in this array:3,4 and 6 .3 has a repetition of 2, 4 has a repetition of 3, 6 has a repetition of 4. Since no two numbers have the same repetition output is False.

# **Array Series(HW)**

# **Circular array**

An array is called circular if we consider the first element as next of the last element. Circular arrays are used to implement queue (Refer to this and this).
An example problem : 
Suppose n people are sitting at a circular table with names A, B, C, D, … Given a name, we need to print all n people (in order) starting from the given name. ![circulararrayrepresentation.PNG]()

For example, consider 6 people A B C D E F and given name as ‘D’. People sitting in a circular manner starting from D are D E F A B C.
A simple solution is to create an auxiliary array of size 2*n and store it in another array. For example for 6 people, we create below the auxiliary array. 
A B C D E F A B C D E F 
Now for any given index, we simply print n elements starting from it. For example, we print the following 6. 
A B C D E F A B C D E F

A B C D E F A B C D E F

In [ ]:
def printCircular(arr,n,ind):
  brr = [None] * (2*n)
  i = 0

  while i<n:
    brr[i] = brr[n+i] = arr[i]
    i = i+1
  i = ind

  ## print from ind-nth index to (n+i)th index
  while i<(n+ind):
    print(brr[i], end=" ")
    i= i+1



#driver code
arr = ['A','B','C','D','E','F']
n= len(arr)
printCircular(arr,n,3)

D E F A B C

In [ ]:
# BiG "O" notation
# ১. আমার অ্যালগোরিদম কি নির্ধারিত সময়ের মধ্যে ফলাফল এনে দিবে?
# ২. সর্বোচ্চ কত বড় ইনপুটের জন্য আমার অ্যালগোরিদম কাজ করবে?
# ৩. আমার অ্যালগোরিদম কতখানি মেমরি ব্যবহার করছে?

def MyAlgo(n):
  x = n+10
  x=x/2
  return x

print(MyAlgo(234802389465895))

# O(1)
# অ্যালগোরিদমের কমপ্লেক্সিটি হলো O(1),এর মানে হলো ইনপুটের আকার যেমনই হোকনা কেন একটি constant টাইমে অ্যালগোরিদমটি কাজ করা শেষ করবে।

117401194732952.5

In [ ]:
def Myalgo2(n):
  sum = 0
  for i in range(n):
    sum = sum + i
    if(sum>=1000):
      break
  return sum

print(Myalgo2(300))
# O(1)

1035

In [ ]:
def Myalgo2(n):
  sum = 0
  for i in range(n):
    sum = sum + i
    # if(sum>=1000):
    #   break
  return sum

print(Myalgo2(500))
# O(n)
# কমপ্লেক্সিটি O(n) কারণ এখানে লুপটি n বার চলবে।
# Best Case , Worst Case
[3,2,1,4,6,7,8,9,0,4,756,78,45,654,87]
# worst case এ যতগুলো ইনস্ট্রাকশন থাকবে সেটাই আমাদের কমপ্লেক্সিটি।

124750

In [ ]:
def Myalgo3(n):
  sum = 0
  for i in range(n):
    j = i
    while(j<n):
      sum = i+j
      j = j-1

  return sum
print(Myalgo3(30))

NxN
O(n**2)